<mat-toolbar class="navbar navbar-light-bg-primay col-2 col-lg-4 col-md-6  col-sm-12" color="primary">
  <div class="container-fluid">
    <h2>WELCOME ADMIN</h2>
    <div class="d-flex">
      <!-- <button (click)="foodMenu()" type="button" class="btn btn-success mx-3" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Menu Card
      </button> -->
      <button routerLink="/MenuCardpage" class="btn btn-success mx-3">MENU CARD</button>
      <button (click)="clickAddResto()" type="button" class="btn btn-success" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Add User
      </button>
     
      
      <button routerLink="/login" class="btn btn-danger mx-3">Log Out</button>
    </div>
  </div>

</mat-toolbar>
<div class="p-5 mb-4 bg-light rounded-3" style="background-color: blanchedalmond;">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">SURABI RESTAURANT CHIEF</h1>
    <p class="col-md=8 fs-4">you can save Customer Records here</p>
    <button (click)="foodMenu()" type="button" class="btn btn-success mx-3" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Menu Card
      </button>
  </div>

</div>


<!---Table shown here -->
<table class="table mt-4 col-2 col-lg-4 col-md-6  col-sm-12">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Password</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>


    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let data of fullData">
      <td>{{data.id}}</td>

      <td>{{data.name}}</td>

      <td>{{data.email}}</td>

      <td>{{data.mobile}}</td>

      <td>{{data.password}} </td>

      <td>{{data.type}}</td>

      <td>
        <button (click)="editUser(data)" type="button" class="btn btn-success" data-bs-toggle="modal"
          data-bs-target="#exampleModal"  class="btn btn-info">Edit</button>&nbsp;
        <button (click)="deleteUser(data)" class="btn btn-danger">Delete</button>
      </td>

     </tr>
  </tbody>
</table>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Detail Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label class="form-label">name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Restaurant name here"
              id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>

          <div class="mb-3">
            <label class="form-label">Email Id</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Your Email-Id here"
              id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label">phone no</label>
            <input type="text" formControlName="mobile" class="form-control" placeholder="Enter yourPhone Number"
              id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" formControlName="password" class="form-control" placeholder="Enter your Address"
              id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label">Type</label>
            <input type="text" formControlName="type" class="form-control" placeholder="Enter services"
              id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" id="clear" class="btn btn-secondary">Clear</button>
        <button *ngIf="showAdd" type="button" class="btn btn-primary"data-bs-dismiss="modal"  (click)="addUser()">Add Details</button>
        <button *ngIf="showbth" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser()">Update</button>
      </div>
    </div>
  </div>
</div>