<br>
<div class="row">
  <h1 class="text-center" id="offset-3">
    Restaurant Bills
  </h1>
  <br>
</div>
<div class="container" *ngFor="let customerOrder of custOrders">
  <table class="table">
    <tr>
      <th>Order Id</th>
      <th>CustomerName</th>
      <th>OrderedDate</th>
      <th>TotalPrice</th>
    </tr>
    <tr>
      <td> {{customerOrder.id}}</td>
      <td> {{customerOrder.UserId}}</td>
      <td> {{customerOrder.date}}</td>
      <td> {{customerOrder.Total}}</td>
    </tr>
  </table>


</div>