.card{
    margin: top 15px;
    border:1px solid blue;
    width: 550px;
    padding: 45px;
    position: absolute;
    top:10%;
    left:30%;

}
.up-field{
    margin-left: 25%;
    margin-right: 20%;
}
/* inline>embed>externel>
id>class */
.pb{
    margin-left: 28%;
}
.text-center{
    text-shadow: 2px 2px 8px #FF0000;
} 
.bgc{
    background-color: rgba(104, 91, 35, 0.774);
    border-radius: 10%;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 20%;
    
}
.me{
    margin-left: 10%;
    margin-right: 10%;
}
.nd{
    text-decoration-line: none;
    text-decoration: none;
}
.cl{
    /* color: green; */
    background-color:green ;
    text-align: center;
}